#directory-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    z-index: 0;
    transform: translateX(-30%)
}

.directory-title-div {
    height: 25vh;
}

#directory-title {
    font-size: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 3vh;
}

#directory-search-bar {
    opacity: 1;
    margin: 3vh 0;
    font-size: 1.5vh;
    text-decoration: none;
    font-family: Manrope, Roboto, Arial;
    text-shadow: rgba(8, 4, 29, 0.863) 1px 1px 4px;
    background-color: rgb(194, 238, 255);
    border: none;
    border-radius: 10px;
    border-bottom: solid white 2px;
    outline: none;
    caret-color: black;
}