
.directory-title-div {
    height: 25vh;
}

#directory-title {
    font-size: 8vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 3vh;
}

#directory-search-bar {
    opacity: 1;
    margin: 3vh 0;
    font-size: 2vh;
    text-decoration: none;
    font-family: Manrope, Roboto, Arial;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    border-bottom: solid white 2px;
    outline: none;
    caret-color: black;
    width: 60vw;
    padding: 7px 30px; 
    box-shadow: 
    rgba(8, 4, 29, 0.274) 0px 2px 9px
}

#directory-search-bar::placeholder {
            color: black;
        }
/*ENZO MADE stuff */
.org-cards{
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(auto_fill, minmax(150px, 1fr));
    margin-top: 1rem;
}
.card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}
.hide {
  display: none !important;
}