#landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#big-text-mobile {
 
    flex-direction: column; 
    align-items: center;
}

@media screen and (orientation: portrait) {
    #big-text-mobile {
        display: flex;
    }



    #home-block-1-parallel {
        display: grid;
        grid-template-rows: 2fr 2vh 3fr;
        justify-content: center;
        width: 70vw;
    }
    #home-block-2-parallel {
        display: grid;
        grid-template-rows: 3fr 2vh 2fr;
        justify-content: center;
        width: 70vw;
    }

    #suggestion-div input {
        padding-left: 2em;
    }
}

@media screen and (orientation: landscape) {
    .big-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    background: linear-gradient(rgba(33, 15, 63, 0.521), rgba(46, 34, 66, 0));
    }

    #home-block-1-parallel {
        display: grid;
        grid-template-columns: 2fr 2vw 3fr;
        justify-content: center;
        width: 70vw;
    }
    #home-block-2-parallel {
        display: grid;
        grid-template-columns: 3fr 2.5vw 2fr;
        justify-content: center;
        width: 70vw;
    }

    #suggestion-div input {
        padding-left: 4em;
    }
}






h1,  h2 {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;

}

 h2 {
    font-family: "Josefin Slab", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: -1em;
    margin-top: 1.3em;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}

 

#site-name {
    font-size: 10vw;
}
.hide {
  display: none !important;
}

#scroll-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    height: 10vh;
}
#home-block-1, #home-block-3{
    background-color: rgb(23, 19, 43);
}
#home-block-2, #home-block-4{
    background-color: rgb(248, 248, 242);
}
.home-block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0;
}


.home-block-img {
    z-index: 5;
}
#find-resources {
    background-color: rgb(62, 219, 219);
    color: rgb(35, 24, 53);
    
}
#see-inspirations {
    background-color: rgb(129, 105, 173);
    color: white;
}
.homepage-button {
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    padding: 15px 20px;
    margin-left: 20px;
    transition: width .5s;
    border: none;
    border-radius: 100vh;
    transition: padding .1s, box-shadow .1s, color .1s;
    text-decoration: none;
}

.homepage-button:hover {
    cursor: pointer;
    padding: 18px 22px;
}
#suggestion-submit {
    padding: 15px 20px;
}
#suggestion-submit:hover {
    background-color: rgba(248, 248, 242, 0.836);
    box-shadow: rgba(8, 4, 29, 0.521) 3px 3px 10px;
}
.home-block-img {
    height: 50vh; width: 100%; background-size: cover; border-radius: 2vh; background-position: center;
}
.carousel {
    width: 100%;
    border: none;
    display: flex;
    overflow-x: auto;
    margin-top: 1em;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin-reverse 50s infinite linear;
    gap: 1em;
    padding-right: 1em;
}
.spin-anim-1 {
    animation: spin-reverse 50s infinite linear;
}
.spin-anim-2 {
    animation: spin 40s infinite linear;
}
.gallery-img {
    flex: 0 0 25em;
    height: 15em;
    padding: 1em;
    border-radius: 1.5vh;
    align-content: center;
    width: auto;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%}
}
@keyframes spin-reverse {
    from {translate: -100%;}
    to {translate: 0;}
}
#home-block-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#suggestion-div {
    background-color: rgb(129, 105, 173);
    width: 50vw;
    border-radius: 2vh;
    border: none;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
}
#suggestion-div h3 {
    margin-bottom: 0;
}
#suggestion-div input {
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    border-radius: 4em;
    border: none;
    margin-bottom: 2em;
    max-height: 4em;
    font-family: Manrope, Arial, Helvetica, sans-serif;
}

#suggestion-input::placeholder {
    color: rgba(0, 0, 0, 0.425);
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
}