        header {
            position: fixed; 
            left: 0;
            right: 0;
            top: 0;
            height: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /*background: linear-gradient(rgba(33, 15, 63, 0.397), rgba(46, 34, 66, 0));*/
            z-index: 100;
        }



        nav {
            display: flex;
            flex-direction: row;
            margin-right: 20%;
            height: 100%;
            align-items: center;
            justify-content: space-around;
        }

        .page-link-div {
            padding-left: 10%;
            padding-right: 10%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }



        .page-link-div a {
            inherits: false;
            color: white; 
            font-size: 1rem;
            text-decoration: none;
            font-family: Manrope, Roboto, Arial;
            text-shadow: rgba(8, 4, 29, 0.863) 1px 1px 4px;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .page-link-div a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 0;
            height: 1.5px;
            background-color: white;
            transition: width .2s ease-in-out;
            box-shadow: rgba(8, 4, 29, 0.349) 1px 1px 2px;
        }

        .page-link-div a:hover::after {
            width: 100%;
        }

        #search-div {
            margin-left: 10%;
            padding-right: 1.8%;
            padding-left: 2.5%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
        }



        #search-div .page-link-div {
            
            display: flex;
            justify-content: center;
        }



        #mag-glass{
            height: 1.5em;
            padding-left: .5em;
            cursor: pointer;
        }

        #search-bar {
            opacity: 1;
            font-size: 1rem;
            text-decoration: none;
            font-family: Manrope, Roboto, Arial;
            text-shadow: rgba(8, 4, 29, 0.863) 1px 1px 4px;
            background-color: rgba(0, 85, 119, 0);
            border: none;
            border-bottom: solid white 2px;
            outline: none;
            caret-color: white;
        }

        ::placeholder {
            color: white;
        }

        #search-button {
            border: none;
            background-color: rgba(0, 85, 119, 0);
            display: flex;
            align-items: center;
            justify-content: center;
        }