#references-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    z-index: 0;
    transform: translateX(-30%)
}

#references-wrapper {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: rgba(33, 15, 63, 0.521);
    transform: translateY(-9.01vh);
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: -9.00vh;

}

#parallel-divs {
    display: grid;
    grid-template-columns: 1fr 2vw 1fr;
}

#parallel-divs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embedded {
    width: 35vw;
    height: 70vh;
    border-radius: 2vh;
    box-shadow: rgba(8, 4, 29, 0.926) 1px 1px 10px;
    border: none;
}

#content-refs p, #image-refs p {
    text-shadow: rgba(8, 4, 29, 0.863) 1px 1px 4px;
    overflow-wrap: break-word;
}




