body {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.shadow-bg {
    background: linear-gradient(rgba(33, 15, 63, 0.521), rgba(46, 34, 66, 0));
}

.shadow-bg-reverse {
    background: linear-gradient(rgba(46, 34, 66, 0), rgba(33, 15, 63, 0.521));
}

h1,  h2 {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;

}

 h2 {
    font-family: "Josefin Slab", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: -1em;
    margin-top: 1.3em;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}

 h1 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 25vh;
    margin-top: .1em;
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;
}

p {
    font-family: Manrope, Roboto, Arial;
    color: white;
    font-size: 2vh;
}

h3 {
    font-family: "Josefin Slab", 'Times New Roman', Times, serif;
    color: white;
}