html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

.shadow-bg {
    background: linear-gradient(rgba(33, 15, 63, 0.521), rgba(46, 34, 66, 0));
}

.shadow-bg-reverse {
    background: linear-gradient(rgba(46, 34, 66, 0), rgba(33, 15, 63, 0.521));
}

h1,  h2 {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;

}

 h2 {
    font-family: "Josefin Slab", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: -1em;
    margin-top: 1.3em;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}



p {
    font-family: Manrope, Roboto, Arial;
    color: white;
    font-size: 2em;
}

h3 {
    font-family: "Josefin Slab", 'Times New Roman', Times, serif;
    color: white;
    font-size: 3em;
}

.bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    z-index: 0;
    transform: translateX(-30%)
}

.subpage-title-div {
    height: 25vh;
}

.subpage-title {
    font-size: 7em;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 3vh;
}

.content-fade {
    height: 10vh;
    width: 100%;
    background: linear-gradient(rgba(46, 34, 66, 0), rgba(33, 15, 63, 0.521));
    /*background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));*/
    transform: translateY(-9vh);
}

.content-wrapper {
    width: 100%;
    background-color: rgba(33, 15, 63, 0.521);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    transform: translateY(-9.01vh);
}

.space-filler {
    width: 100vw;
    background-color: rgba(33, 15, 63, 0.521);
    height: 9.00vh;
}

h1 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin-top: .1em;
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;

}

.shadowed {
    box-shadow: rgba(8, 4, 29, 0.926) 1px 1px 10px;
}

.text-shadowed {
    text-shadow: rgba(8, 4, 29, 0.863) 1px 1px 4px;
}

a {
    text-decoration: none;

}

div {
    background-position: center; 
    background-size: cover;
}